<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>425317062989-um2m43r5437pbbdb22rpem42van7tfui.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.425317062989-um2m43r5437pbbdb22rpem42van7tfui</string>
	<key>API_KEY</key>
	<string>AIzaSyDNCSEvm6FSBEPtE0bjYgOQX9EizSOirFY</string>
	<key>GCM_SENDER_ID</key>
	<string>425317062989</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>in.notesapp.notesapp</string>
	<key>PROJECT_ID</key>
	<string>flutter-notes-app-tutorial-95</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-notes-app-tutorial-95.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:425317062989:ios:6d89475dd60d6dbd9eff04</string>
</dict>
</plist>